
.incident_info_component {
  height: 5vmin;
  background-color: var(--sec-color);
  color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.incident_info_box {
  display: flex;
  flex-direction: column;
}

.incident_info_subbox {
  border-style: none;
  outline: none;
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--default-font);
  font-size: 1.5vmin;
  border-right: 1px solid black;
  overflow: auto;
  color: white;
}

.incident_info_subbox::-webkit-scrollbar {
  background: var(--sec-color);
  height: 0.8vmin;
}

.incident_info_subbox::-webkit-scrollbar-thumb {
  background: var(--ter-color);
  border-radius: 2vmin;
}

.table_header {
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: 700;
  width: fit-content;
  background-color: rgb(10, 218, 98);
  height: 6vmin;
  border: 1px solid black;
  border-radius: 1vmin 1vmin 0 0;
}

.table_body {
  height: 60vh;
  overflow-y: auto;
}

.table_body::-webkit-scrollbar {
  background: var(--bg-color);
  width: 1vmin;
}

.table_body::-webkit-scrollbar-thumb {
  background: var(--ter-color);
  border-radius: 2vmin;
}

.header {
  border-right: 1px solid black; 
  color: black;
}

.l {
  border: none;
}

.__justify_input {
  color: black;
  width: 9vw;
}

.red {
  background-color: #EA9999;
}

.yellow {
  background-color: rgb(255, 205, 86);
}

.green {
  background-color: rgb(10, 218, 98);
}

.dot {
  margin-left: 1vmin;
  height: 1vmin;
  width: 1vmin;
  border-radius: 1vmin;
}

#__submit_icon {
  height: 2vmin;
  padding-left: 2vmin;
  cursor: pointer;
}

#no_data_incident {
  font-family: var(--default-font);
  color: var(--text-color);
  font-weight: 700;
  font-size: 3vmin;
  margin-top: 2vmin;
  margin-left: 1vmin;
}