.ic_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15vmin;
}

.ic_page_table_search {
  flex-direction: column;
}

.ic_page_header_box {
  display: flex;
  justify-content: start;
  margin-bottom: 3vmin;
}

.__ic_page_graph {
  margin-top: 5vmin;
}

#ic_page_graph_title {
  padding-bottom: 5vmin;
  font-family: var(--default-font);
  font-weight: 700;
  font-size: 2.5vmin;
  color: var(--text-color);
}