
.incident_info_component {
  width: 80vw;
  height: 5vmin;
  background-color: var(--sec-color);
  color: white;
  display: flex;
  flex-direction: row;
}

.incident_info_box {
  display: flex;
  flex-direction: column;
}

.incident_info_subbox {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--default-font);
}

.table_header {
  display: flex;
  width: 80vw;
  flex-direction: row;
  color: black;
  font-weight: 700;
  background-color: rgb(10, 218, 98);
  height: 6vmin;
  border: 1px solid black;
}

.header {
  border-right: 1px solid black; 
}

.l {
  border: none;
}

.red {
  background-color: #EA9999;
}

.yellow {
  background-color: rgb(255, 205, 86);
}

.green {
  background-color: rgb(10, 218, 98);
}