@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --default-font: "Inter", sans-serif;
}

* {
  transition: background-color 0.3s ease;
  margin: 0;
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000 ;
}

.dark {
  --bg-color: #1b1a20;
  --text-color: #ffffff;
}

.page {
  height: 100vh;
  display: flex;
}

#toggle_darklight {
  position: absolute;
  top: 90%;
  left: 90%;
}