@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --default-font: "Inter", sans-serif;
}

* {
  transition: background-color 0.3s ease;
  margin: 0;
}

.light {
  --bg-color: #ffffff;
  --sec-color: #505357;
  --text-color: #000000;
  --ter-color: rgba(93, 93, 93, 0.845);
  --qua-color: #313035;
}

.dark {
  --bg-color: #1b1a20;
  --sec-color: #313035;
  --text-color: #ffffff;
  --ter-color: rgba(93, 93, 93, 0.845);
  --qua-color: #505357;
}

.page {
  display: flex;
  background-color: var(--bg-color);
}

#toggle_darklight {
  position: absolute;
  top: 90%;
  left: 90%;
}