.nav_box {
  display: flex;
  height: 100vh;
  margin-left: 2vmin;
  justify-content: start;
  align-items: center;
}
.nav_component {
  background-color: var(--sec-color);
  box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 10px;
  height: 90vh;
  width: 5vmin;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2vmin;
  transition: all 0.1s ease-in-out;
}
.nav_icon {
  margin-top: 0.3vmin;
  height: 2vmin;
}
.ics_r {
  height: 2.6vmin;
  padding: 0.65vmin 0 0 0.65vmin;
}
#aton_logo {
  margin: 1vmin 1vmin 2vmin 1vmin;
  height: 3vmin;
}
.selected_box {
  height: 3.6vmin;
  width: 3.6vmin;
  border-radius: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--qua-color);
}
.nav_button {
  border-radius: 1vmin;
}